body{
    background-color: pink;
}
h1{
    color: orange;
    background-color: navy;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#a{
    color: bisque;
}

#b{
    color: silver;
}

#c{
    color: aqua;
}